* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
.container {
  padding: 1rem 5rem;
}

main .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: auto;
  gap: 2rem;
}
.form-notes {
  height: max-content;
}

.all-notes {
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1.5rem 1rem;
}

.all-notes .title-section {
  margin-bottom: 1rem;
}

.all-notes .notes-amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.8rem;
  font-size: 1rem;
}

.notes-amount .icon-section {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
  width: 35px;
  height: 35px;
  background-color: rgba(162, 164, 173, 0.3);
}

.icon-section:active {
  background-color: rgba(162, 164, 173, 0.6);
}

.notes-amount .icon {
  font-size: 1.5rem;
  font-weight: 600;
}

.notes-amount .amount {
  color: #8da6ff;
}

.all-notes .list-notes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
}

.container-header h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.container-list {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.container-list .list-title {
  color: black;
  font-size: 1.2rem;
}

.container-list .description {
  color: #6b6a6d;
  font-size: 0.8rem;
}

.container-list .times {
  color: #a2a4ad;
  font-size: 0.6rem;
}

/* Form */
.form-notes {
  border: 1px solid black;
  padding: 1rem;
  border-radius: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  height: 100%;
}

.form-group {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  font-weight: lighter;
}

#title,
textarea {
  font-family: Raleway, sans-serif;
  background: #f5f1ff;
  border: 2px solid #8da6ff;
  border-radius: 8px;
  padding: 16px;
  box-sizing: border-box;
  margin-bottom: 8px;
  font-size: 1.5rem;
}
input[type="text"],
textarea,
.btn-submit:focus {
  outline: none;
}
.form-group #deskripsi {
  height: 30vh;
}

.form-group label {
  color: rgb(103, 98, 98);
  font-size: 18px;
  font-weight: lighter;
}

.form-group button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #8da6ff;
  color: #fdfefd;
  font-size: 1.2rem;
}

/* allnotes button */

.check-button {
  width: 40px;
  height: 40px;

  background: url("../assets/check-outline.svg");
  background-size: contain;
  margin-left: auto;
  cursor: pointer;
  border: none;
}

.check-button:hover {
  background: url("../assets/check-solid.svg");
  background-size: contain;
}

/* Section todo list */

.container-todo #form-check {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.coba {
  flex-direction: column;
  background-color: #e8edff;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

.iconDate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.trash-button {
  width: 40px;
  height: 40px;

  background: url("../assets/trash-outline.svg");
  background-size: contain;
  margin-left: 16px;
  cursor: pointer;
  border: none;
}

.trash-button:hover {
  background: url("../assets/trash-fill.svg");
  background-size: contain;
}

.undo-button {
  width: 40px;
  height: 40px;

  background: url("../assets/undo-ouline.svg");
  background-size: contain;
  margin-left: auto;
  cursor: pointer;
  border: none;
}

.undo-button:hover {
  background: url("../assets/undo-ouline.svg");
  background-size: contain;
}

.check-button:focus,
.trash-button {
  outline: none;
}

/* allnotes */
.card-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.cardNotes {
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  color: black;
  background-color: #e8edff;
  display: grid;
  padding: 1rem;

  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title title"
    "body body"
    "date date";

  gap: 0.5rem;
}

.cardTitle {
  grid-area: title;
  font-size: 1.5rem;
}
.cardBody {
  grid-area: body;
  font-size: 1rem;
}
.cardDate {
  grid-area: date;
  font-size: 0.8rem;
  color: gray;
  justify-self: end;
  align-self: center;
}

@media only screen and (max-width: 890px) {
  .form-notes {
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
@media only screen and (max-width: 508px) {
  main .container {
    padding: 1.5rem 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .cardTitle {
    font-size: 1rem;
  }
  .cardBody {
    font-size: 0.8rem;
  }
  .cardDate {
    font-size: 0.6rem;
  }
  .form-notes {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  #title,
  textarea {
    font-size: 1rem;
  }
}
